<section class="full-page" id="home">
  <div style="width:100%">
    <img src="assets/images/Buymore-Card.png" class="img-rounded" style="margin:0 25%">
  </div>
  <div class="row" style="margin-top:5%">
    <div class="col-md-12">
      <form action="">
        <div class="form-group col-md-5">
          <input type="text" class="form-control" placeholder="Enter Your Name Here" ng-model="ambassador.name">
        </div>
        <div class="form-group col-md-5">
          <input type="text" class="form-control" placeholder="Enter Your Email Address Here" ng-model="ambassador.email">
        </div>
        <a type="button" class="red col-md-2 btn btn-success btn-sm" ng-click="signup(ambassador)">Sign Up for Newsletter</a>
        <div class="col-md-12" id="alerts">

        </div>
      </form>
    </div>
  </div>
</section>
